<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86501809868-2q0jdfcm966rcljktflpa1mouiierg9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86501809868-2q0jdfcm966rcljktflpa1mouiierg9r</string>
	<key>API_KEY</key>
	<string>AIzaSyBoEaCA0LnX2b8OC10DF-ez5ETq-fxld-g</string>
	<key>GCM_SENDER_ID</key>
	<string>86501809868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.birthdayEventApp</string>
	<key>PROJECT_ID</key>
	<string>birthday-event-app</string>
	<key>STORAGE_BUCKET</key>
	<string>birthday-event-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86501809868:ios:281a6924f4104d6259ec69</string>
</dict>
</plist>